/* Main styles */

body {
    font-family: 'Helvetica', sans-serif; /* added font (SEP 7) */
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 1em;
    margin: 0;

    background-color: rgb(224, 221, 221);
    background-image: url('../images/foil background.jpeg');
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
}

#head {
    display: flex;
    justify-content: center;
    margin: 50px;

}

#head h1 {
    text-decoration: none;
    font-size: 20em; /* larger, readable main title */
    font-style: bold;
    /* margin: 0.1rem 0 0 0; small top gap so h2 doesn't touch too closely */
    color: rgb(0, 0, 0);
    margin-top: -0.2em;

}

#head p {
    text-decoration: none;
    font-size: 3em; /* smaller subtitle size */
    font-style: bold;
    /* margin: 0 0 0.2rem 0; space below h2 toward h1 */
    color: rgb(0, 0, 0);
    /* letter-spacing: 0.08em; often nice for small caps-like subtitles */
    text-transform: uppercase;
    margin: 0.15em;
    margin-left: 0.42em;

    /* add a serif font */
    font-family: 'Georgia', serif;

}

/* Navigation Bar */

header {
    position: sticky;
    top: 0;
    /* background-color: #333; */
    background-color: #FAF9F6;
    padding: 2px;
    box-shadow: 0 15px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    gap: 0em;
}

nav div {
    display: flex;
    align-items: center;
}


nav img {
    /* display: inline-block; */
    align-self: left;
    width: auto;
    height: 2.5em;
    margin-right: 1em;  
    margin-left: 1em;
}

nav h1 {
    color: white;
    font-family: "Helvetica", sans-serif;
    font-size: 2em;
}

nav h1 a {
    text-decoration: inherit;
    color: black;
}

nav h1 a:hover {
    color: grey;
}

nav button {
    background-color: white;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: background-color 0.3s;


}

nav button:hover {
    /* background-color: #0056b3; */
    background-color: rgb(224, 221, 221);
}

nav button a {
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    /* font-size: 2em; */

    margin: 0;
    padding: 0;
}

.color {
    background-color: black;
}

.color1 {
    background-color: #773096;
}

/* Make anchor links with .color or .color1 match button sizing */
nav a.color, nav a.color1 {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black; /* default, overridden by .color1 below */
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

nav a.color:hover, nav a.color1:hover {
    background-color: rgb(224, 221, 221);
}

/* Ensure .color1 anchor uses its intended background */
nav a.color1 { background-color: #773096; }


/* Content Sections */


#section1 {
    text-align: left;
    color: white;
    margin: 5em;
    padding: 1em;
}

#section1 h3 {
    font-size: 5em;
    font-style: bold;
    padding: 0;
    color: white;
    font-family: "Helvetica", sans-serif;
}

#section2 {
    text-align: left;
    color: white;
    margin: 5em;
    padding: 1em;
}

#section2 h3 {
    font-size: 5em;
    font-style: bold;
    padding: 0;
    color: white;
    font-family: "Helvetica", sans-serif;
}

#section3 {
    text-align: left;
    color: white;
    margin: 5em;
    padding: 1em;
}

#section4 {
    text-align: left;
    color: white;
    margin: 5em;
    padding: 1em;
}

#section5 {
    text-align: left;
    color: white;
    margin: 5em;
    padding: 1em;
}

#section6 {
    text-align: left;
    color: white;
    margin: 5em;
    padding: 1em;
}

#section7 {
    text-align: left;
    color: white;
    margin: 5em;
    padding: 1em;
}

#section8 {
    text-align: left;
    color: white;
    margin: 5em;
    padding: 1em;
}

.post {
    text-align: center;
    font-size: 2em;
    color: white;
    margin: 10em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    font-family: "Georgia", serif;
}

#head {
    display: flex;
    /* justify-content: center; */
    margin: 50px;

}

/* Structure */

.container1 {
  max-width: 100%;
  margin: 20px;
  padding: 10px;

  background-color: rgb(26, 72, 137);
}

.column {
  text-align: center;  /* Centers the image */
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;

}

.column img {
  width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;  /* Centers block-level image */
}

.one-column {
    display: grid;
    /* grid-template-columns: 2fr; */
    margin: 5em;
    padding: 5em;

    /* min-height: 20vh;
    background-color: #333333; */
    border-radius: 8px;
    align-items: center;
    justify-items: center;

}

.image1 { 
    padding: 1em;
    min-height: 20vh; /* vh = height of browser */
    /* background-color: #333333; */
    /* color: var(--background-color); */
    border-radius: 8px;
    align-items: center;
    

    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.image1 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.image1 img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        /* Prepare the element for smooth animations */
        will-change: transform, opacity;
        backface-visibility: hidden;
        /* Transition on transform and opacity so it's applied both on hover and when .animate toggles */
        transition: transform 400ms cubic-bezier(.2,.8,.2,1), opacity 500ms ease;
}

.image1 img:hover {
        /* Slightly smaller scale for a less jarring zoom */
        transform: scale(1.08);
}

.image1.animate {
        transform: translateY(0px);
        opacity: 1;
}

.image1 a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove default image border in some browsers */
.image1 a img {
    border: none;
    /* ensure starting opacity is visible when element is active */
    opacity: 1;
}